In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("heart_failure_clinical_records_dataset.csv")

In [4]:
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm
import warnings

In [8]:
y = df["DEATH_EVENT"]
X = df.drop(columns = "DEATH_EVENT")

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.2,random_state=88)

In [30]:
from sklearn.preprocessing import StandardScaler

In [11]:
svm1 = svm.SVC()

In [32]:
sc  = StandardScaler()

In [35]:
sc_fit = sc.fit(X_train)

In [37]:
x_train_sc =sc_fit.transform(X_train)

In [38]:
sc_fit_test = sc.fit(X_test)

In [39]:
X_test_sc =sc_fit_test.transform(X_test)

In [46]:
X_train1 =pd.DataFrame(x_train_sc,columns=X_train.columns)

In [48]:
X_test1 = pd.DataFrame(X_test_sc,columns=X_test.columns)

In [120]:
# poly # linear # sigmoid # rbf
svm1 = svm.SVC(C=1.0,kernel='linear',degree=3)

In [121]:
svm1.fit(X_train1,y_train)

SVC(kernel='linear')

In [123]:
print("Train Accuracy",svm1.score(X_train1,y_train))
print("Test Accuracy",svm1.score(X_test1,y_test))

Train Accuracy 0.8368200836820083
Test Accuracy 0.8333333333333334